In [4]:
for i in range(1,11):
    if type(i)==int:
        print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
def calculate_sum(numbers):
    x=0
    for i in numbers:
        x+=i
    return x

l=[1,2,3,4,5,6]
result=calculate_sum(l)
print(f'the sum of numbers in list is :{result}')

the sum of numbers in list is :21

In [13]:
x='naamra'
for i in x:
    print(x[::-1])
    break

armaan

In [22]:
x1=0
y=int(input('enter you number:'))
for i in range(y):
    x1+=i
print('the factorial of number is :',x1)

enter you number: 5

the factorial of number is : 10

In [28]:
def table(number):
    for i in range(1,11):
        result= number * i
        print(f"{number} x {i} = {result}")
    
y1=int(input('the the number to get table of:'))
table(y1)

the the number to get table of: 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [32]:
l3=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
count_even=0
count_odd=0
for i in l3:
    if i%2==0:
        count_even+=1
    else:
        count_odd+=1
print('count of even number :',count_even)
print('count of odd number :',count_odd)

count of even number : 10
count of odd number : 10

In [34]:
for i in range(1,6):
    if type(i)==int:
        print(i*i)

1
4
9
16
25

In [36]:
x5='armaan'
x5.find('n')+1

6

In [45]:
def calculate_avarage(y8):
    x6=len(y8)
    x7=0
    for i in y8:
        x7+=i
    return x7 
l9=[1,2,3,4,5,6,7]
result=calculate_avarage(l9)
print('The average of given list is:',result/x6)

The average of given list is: 4.0

In [48]:
def print_fibonacci_sequence(n):
    fibonacci_numbers = [0, 1]
    for _ in range(2, n):
            next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
            fibonacci_numbers.append(next_number)

    print(fibonacci_numbers)
user_input = int(input("Enter the value of 'n' for the Fibonacci sequence: "))
print_fibonacci_sequence(user_input)

Enter the value of 'n' for the Fibonacci sequence:  5

[0, 1, 1, 2, 3]

In [6]:
def check_duplicates(l2):
    x=set()
    for i in l2:
        if i in x:
            return True
        x.add(i)
    return False
        
        
l3=[1,2,3,2,3,2,3,4,5,4,5,6,4,5,6]
if  check_duplicates(l3):
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list contains duplicates.

In [7]:
for i in range(20):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [2]:
def count_vowels(x2):
    count=0
    l3='AEIOUaeiou'
    for i in x2:
        if i in l3:
            count+=1
    return count
string='ArmaEiOu'
print(count_vowels(string))

6

In [4]:
def max_element(x):
    y=x[0][0]
    
    for i in x:
        for x2 in i:
            if x2>y:
                y=x2
    return x2
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

element=max_element(matrix)
print('The maximum element in 2D list is:',element)

The maximum element in 2D list is: 9

In [31]:
def clear_element(l):
    for i in l:
        while 3 in l:
            l.remove(3)
    return l
l3=[1,2,3,4,52,2,3,4,5,5,34,53,4,4,3,3,3,2,3,3,3,3]

In [32]:
clear_element(l3)

[1, 2, 4, 52, 2, 4, 5, 5, 34, 53, 4, 4, 2]

In [3]:
def table():
    for i in range(1,11):
        for j in range(1,6):
            x=j* i
            print(j,'*',i,'=',x,end='   ')
        print()

In [4]:
table()

1 * 1 = 1   2 * 1 = 2   3 * 1 = 3   4 * 1 = 4   5 * 1 = 5
1 * 2 = 2   2 * 2 = 4   3 * 2 = 6   4 * 2 = 8   5 * 2 = 10
1 * 3 = 3   2 * 3 = 6   3 * 3 = 9   4 * 3 = 12   5 * 3 = 15
1 * 4 = 4   2 * 4 = 8   3 * 4 = 12   4 * 4 = 16   5 * 4 = 20
1 * 5 = 5   2 * 5 = 10   3 * 5 = 15   4 * 5 = 20   5 * 5 = 25
1 * 6 = 6   2 * 6 = 12   3 * 6 = 18   4 * 6 = 24   5 * 6 = 30
1 * 7 = 7   2 * 7 = 14   3 * 7 = 21   4 * 7 = 28   5 * 7 = 35
1 * 8 = 8   2 * 8 = 16   3 * 8 = 24   4 * 8 = 32   5 * 8 = 40
1 * 9 = 9   2 * 9 = 18   3 * 9 = 27   4 * 9 = 36   5 * 9 = 45
1 * 10 = 10   2 * 10 = 20   3 * 10 = 30   4 * 10 = 40   5 * 10 = 50

In [53]:
def farhenite_celsius(l):
    l2=[]
    for i in l:
        if i in l:
            l2.append(0.556*(i-32))
    return l2
farh=[100,200,300,400,150,250,350,450]
print(farhenite_celsius(farh))

[37.80800000000001, 93.40800000000002, 149.008, 204.608, 65.608, 121.20800000000001, 176.80800000000002, 232.40800000000002]

In [71]:
def comman_element(x,y):
    l3=[]
    for i in x:
        if i in y:
            l3.append(i)
    return l3
l=[1,2,3,4,5,6,7]
l1=[2,3,4,5,6,7,8,9,10]
print( 'comman elements:' ,comman_element(l,l1))

comman elements: [2, 3, 4, 5, 6, 7]

In [76]:
def rightangle_pattern():
    for i in range(1,10):
        print('*'*i)

In [77]:
rightangle_pattern()

*
**
***
****
*****
******
*******
********
*********

In [79]:
def find_GCD(x,y):
    x=min(x,y)
    for i in range(1,x+1):
        if (x%i==0) and (y%i==0):
            gcd= i
    return gcd
print(find_GCD(15,25))

5

In [6]:
def sum_digits(l):
    l1=[]
    for i in l:
        x=str(i)
        y=sum(int(j) for j in x)
        l1.append(y)
    return l1
l2=[12,13,14,23,45]
print(sum_digits(l2))

[3, 4, 5, 5, 9]

In [22]:
def prime_factor(n):
    factors = []
    divisor = 2
    while n > 1:
        for i in range(divisor,n + 1):
            if n % i == 0:
                factors.append(i)
                n //= i
                break
    return factors
number = int(input('enter a number:'))
print('prime factors of',number,'are:',prime_factor(number))

enter a number: 10

prime factors of 10 are: [2, 5]

In [29]:
def unique_elements(l):
    l2=[]
    for i in l:
        if l2.count(i)==0:
            l2.append(i)
    return l2
l=[1,2,3,4,2,3,4,3,4,5,6,7,1,8,7,8,6]
print(unique_elements(l))

[1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
def is_palindrom(n):
    n_str=str(n)
    return n_str==n_str[::-1]  

def palindrom_list(n):
    l=[]
    for i in range(1,n+1):
        if is_palindrom(i):
             l.append(i)
    return l
number=int(input('enter the number:'))
print('palindromic number upto',number,'are',palindrom_list(number))

enter the number: 100

palindromic number upto 100 are [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [46]:
def flatten_list(n):
    l=[]
    for i in n:
        for j in i:
            l.append(j)
    return l
l1=[[1,2],[1,2,3,4],[23,4,5,6]]
print(flatten_list(l1))

[1, 2, 1, 2, 3, 4, 23, 4, 5, 6]

In [54]:
def sum_even_odd(n):
    even_sum=[]
    odd_sum=[]
    for i in n:
        if i%2==0:
            even_sum.append(i)
            return sum(eve)
        else:
            odd_sum.append(i)
    return sum(odd_sum)

In [55]:
sum_even_odd([1,2,3,4,5,6,7,8,9])

25

In [3]:
def square_odd_numbers(n):
    l1=[]
    for i in range(n):
        if i%2!=0:
            l1.append(i**2)
    return l1

In [5]:
square_odd_numbers(10)

[1, 9, 25, 49, 81]

In [10]:
keys=['name','address','phone']
values=['armaan','thane','7718022069']
dict_={}
for i in range(len(keys)):
    dict_[keys[i]]=values[i]
print(dict_)

{'name': 'armaan', 'address': 'thane', 'phone': '7718022069'}

In [13]:
def extract_vowels(n):
    vowels=['A','E','I','O','U','a','e','i','o','u']
    extracted_vowels=[]
    for i in n:
        if i in vowels:
            extracted_vowels.append(i)
    return extracted_vowels

In [15]:
extract_vowels('areiOuUnaioqp')

['a', 'e', 'i', 'O', 'u', 'U', 'a', 'i', 'o']

In [17]:
strings=['abc123','def456','ghi789']
x=[''.join(filter(lambda char: char.isdigit(),string))for string in strings]
print(x)

['123', '456', '789']

In [1]:
def sieve_of_eratosthenes(n):
    primes = []
    sieve = [True] * (n + 1)
    sieve[0] = sieve[1] = False

    for i in range(2, int(n**0.5) + 1):
        if sieve[i]:
            primes.append(i)
            for j in range(i*i, n + 1, i):
                sieve[j] = False

    for i in range(int(n**0.5) + 1, n + 1):
        if sieve[i]:
            primes.append(i)

    return primes

In [4]:
sieve_of_eratosthenes(10)

[2, 3, 5, 7]

In [4]:
def pythaorean_triplets(z):
    x=int(input('enter the limit:'))
    y=[(a,b,c) for a in range(1,x) for b in range(a,x) for c in range(b,x) if a**2 + b**2==c**2]
    print('pythagorean triplets up to limit',x,'are:')
    print(y)
    
print(pythaorean_triplets(x))

enter the limit: 50

pythagorean triplets up to limit 50 are:
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
None

In [5]:
def list_combination():
    list1=[1,2,3,4,5]
    list2=['a','b','c','d','e']
    combination=[(x,y)for x in list1 for y in list2]
    print('The all combination of list are:',combination)
print(list_combination())

The all combination of list are: [(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (1, 'e'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (2, 'e'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (3, 'e'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (4, 'e'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd'), (5, 'e')]
None

In [10]:
numbers=[12,13,15,16,17,19,21,21,21,23,26,27]
mean=sum(numbers)/len(numbers)
sorted_numbers=sorted(numbers)
n=len(sorted_numbers)
median=(sorted_numbers[n//2]+sorted_numbers[(n-1)//2])/2 if n%2==0 else sorted_numbers[n//2]
mode=max([(number,numbers.count(number))for number in set(numbers)],key = lambda x:x[1])[0]
print('mean:',mean)
print('median:',median)
print('mode:',mode)

mean: 19.25
median: 20.0
mode: 21

In [8]:
def generate_pascal_traingle(n):
    x=[]
    for i in range(n):
        row=[1]*(i+1)
        for j in range(1,i):
            row[j]=x[i-1][j-1]+x[i-1][j]
        x.append(row)
    return x
def print_traingle(x):
    for row in x:
        print(" ".join(map(str,row)).center(len(x[-1])*3))

        
n = int(input("Enter the number of rows for Pascal's triangle: "))

print_pascals_triangle(pascals_triangle)

Enter the number of rows for Pascal's triangle:  10

              1
             1 1
            1 2 1
           1 3 3 1
          1 4 6 4 1
        1 5 10 10 5 1
       1 6 15 20 15 6 1
     1 7 21 35 35 21 7 1
    1 8 28 56 70 56 28 8 1
 1 9 36 84 126 126 84 36 9 1

In [19]:
def sum_factorial(n):
        return i if n==0 else n*sum_factorial(n-1)
sum_of_digits=[sum(int(i)for i in str(sum_factorial(i)))for i in range(1,6)]

for i,sum_of_digits in enumerate(sum_of_digits,start=1):
     print(f"The sum of digits of {i} factorial is: {sum_of_digits}")

The sum of digits of 1 factorial is: 5
The sum of digits of 2 factorial is: 1
The sum of digits of 3 factorial is: 3
The sum of digits of 4 factorial is: 3
The sum of digits of 5 factorial is: 6

In [20]:
def longest_word(n):
    x=n.split()
    longest=[len(i) for i in x]
    longest_length=longest.index(max(longest))
    return x[longest_length]
sentence='my name is armaan tejbahadur yadav'
print('The longest word in sentece is:',longest_word(sentence))

The longest word in sentece is: tejbahadur

In [25]:
def filter_words(string):
    y='aeiouAEIOU'
    return sum(1 for char in string if char in y)
strings = ["hello", "world", "python", "programming", "ai", "openai"]


filtered_strings = [string for string in strings if filter_words(string) > 3]


print("Strings with more than three vowels:", filtered_strings)

NameError: name 'Y' is not defined